* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.btn {
  background-color: lightblue;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

#grid {
  margin-top: 30px;
  width: 600px;
}

.row {
  display: flex;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}
